body {
    background-color: #BEBEBE;
}

header {
    text-align: center;
    background-image: url("../images/foodMap-jum2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    margin-top: -28px
}

header h1 {
    padding-top: 50px;
    color: #ed2727;
    /*    font-size: 80px;*/
}

header p {
    /*    font-size: 30px;*/
}

ul {
    text-align: center;
    /*letter-spacing: 1em;*/
}

ul li {
    display: inline;
    padding-right: 50px;
}

article {
    margin-bottom: 10px;
    text-align: center;
}

article h1 {
    font-family: fantasy;
    font-weight: 800;
    color: blue;
}

p {
    color: #e0ac00;
}

header p {
    letter-spacing: 20px;
}

article p {
    color: blueviolet;
    font-family: cursive;
    letter-spacing: 5px;
}

.thumbnail {
    width: 30%;
    float: left;
    padding: 5px;
    border: 2px dotted #796400;
    /*border-radius: 5%;*/
    margin: 5px;
}

.thumbnail img {
    width: 100%;
    border-radius: 10px;
}

.thumbnail p {
    color: #5B5B5B;
}

.title {
    color: red;
}

navbar ul li a:hover {
    color: #27ce6d;
    font-size: 25px;
}

navbar ul {
    list-style: none;
}

navbar ul li {
    color: chartreuse;
}

article a:link {
    color: aqua;
}

article a:visited {
    color: blue;
}

article a:hover {
    color: chartreuse;
    font-size: 30px;
}

article a:active {
    color: cadetblue;
    font-size: 30px;
    font-weight: 700;
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 15px;
}

.author {
    text-align: center;
}

.container {
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 30px;
    /*  overflow 讓article 與 thumbnail浮動時都包在div內  */
    overflow: auto;
    background-color: white;
}
