nav>div>div>div>ul>li>.btn {
    background-color: black;
    color: white;
    border-style: none;
}

#header {
    background-size: cover;
    color: white;
    background-image: url(../images/mobirise-header.jpg);
}

#header>.container {
    width: 80%;
    text-align: center;
    margin-top: 50px;
    padding-bottom: 40px;
}

#header>.container>h1 {
    font-size: 420%;
    font-weight: bold;
}

#header>.container>p {
    font-size: 150%;
    font-family: serif;
    margin: 20px 10px;
}

#header>.container>p>a {
    margin-left: 20px;
    letter-spacing: 0.2em;
    padding: 8px 30px 12px 30px;
    font-family: sans-serif;
    font-size: 80%;
    border-style: none;
}

#header>.container>p>a>i {
    margin-right: 10px;
}

#header>.container>p>#btnWin {
    background-color: #C0A375;
}

#header>.container>p>#btnWin:hover {
    background-color: #A07E49;
}

#header>.container>p>#btnMac {
    background-color: black;
}

#header>.container>p>#btnMac:hover {
    background-color: white;
    color: black;
}

#header>.container>p>#btnMac:hover>i {
    color: black;
}

#whatIs {
    /*    background-color: #EFEFEF;*/
    margin: 0px;
}

#whatIs>.container {
    width: 95%;
    padding: 30px 0px;
    margin: 0px;
}

#whatIs>.container>.row>.col-md-4>.thumbnail {
    /*    background-color: #EFEFEF;*/
    border-style: none;
    text-align: center;
    margin: 30px 10px;
}

#whatIs>.container>.row>.col-md-4>.thumbnail>a>i {
    color: #7E9B9F;
    font-size: 1000%;
    margin-bottom: 20px;
}

#whatIs>.container>.row>.col-md-4>.thumbnail>h3 {
    font-weight: bold;
}

#whatIs>.container>.row>.col-md-4>.thumbnail>p {
    margin: 20px 10px;
    font-size: 120%;
    color: grey;
    line-height: 1.5em
}

#workStape {
    background-color: gray;
}

#workStape>.container {
    width: 95%;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

#workStape>.container>h1 {
    margin-bottom: 70px;
}

#workStape>.container>.row>.col-md-3 {
    padding: 0px 10px;
}

#workStape>.container>.row>.col-md-3>img {
    width: 100%;
}

#webMake {
    background-color: gainsboro;
}

#webMake>.container {
    width: 90%;
    padding-top: 100px;
    padding-bottom: 100px;
}

#webMake>.container>.row>.col-md-6>img {
    margin-top: 30px;
}

#webMake>.container>.row>.col-md-6>article>h1 {
    font-weight: bold;
    font-size: 300%;
}

#webMake>.container>.row>.col-md-6>article>p {
    margin: 30px 10px;
    font-size: 130%;
}

#webMake>.container>.row>.col-md-6>article>p>a {
    letter-spacing: 0.5em;
    padding: 15px 30px;
    margin-right: 20px;
}

#webMake>.container>.row>.col-md-6>article>p>#btnWin {
    background-color: teal;
    color: white;
}

#webMake>.container>.row>.col-md-6>article>p>#btnWin:hover {
    background-color: grey;
    color: white;
}

#webMake>.container>.row>.col-md-6>article>p>#btnMac {
    background-color: white;
    color: teal;
}

#webMake>.container>.row>.col-md-6>article>p>#btnMac:hover {
    background-color: grey;
    color: white;
}

#share {
    height: 350px;
}

#share>.container {
    width: 60%;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center
}

#share>.container>h1 {
    font-size: 400%;
    font-weight: bold;
}

.share-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid burlywood;
    border-radius: 50%;
    margin-right: 20px;
    padding: 5px;
}

.share-icon>a>i {
    color: black;
    font-size: 25px;
    line-height: 35px;
}

.share-icon:hover {
    background-color: burlywood;
    color: white;
}

#mobileWeb {
    background-color: darkgrey;
}

#mobileWeb>.container {
    width: 90%;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

#mobileWeb>.container>.row>.col-md-4>article {
    padding-right: 50px;
    text-align: right;
}

#mobileWeb>.container>.row>.col-md-4>article>h1 {
    font-size: 300%;
    font-weight: bold;
}

#mobileWeb>.container>.row>.col-md-4>article>p {
    font-size: 120%;
    padding-top: 20px;
    padding-bottom: 20px;
}

#mobileWeb>.container>.row>.col-md-4>article>p>a {
    padding: 15px 40px;
    margin: 10px;
    letter-spacing: .5em;
    background-color: cadetblue;
    border-style: none;
}

#mobileWeb>.container>.row>.col-md-8>img {
    width: 100%;
}

#boostUse>.container {
    width: 95%;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

#boostUse>.container>.row>.col-md-3>.thumbnail {
    text-align: center;
    border-style: none;
}

#boostUse>.container>.row>.col-md-3>.thumbnail>i {
    font-size: 180px;
    color: teal;
}

#boostUse>.container>.row>.col-md-3>.thumbnail>p {
    font-family: monospace;
}

#mobiriseExperts {
    background-image: url("https://unsplash.it/1000/1000?image=1061");
    background-repeat: no-repeat;
    background-size: cover;
}

#mobiriseExperts>.container {
    width: 80%;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    /*    clear: both;*/
}

#mobiriseExperts>.container>.row>.col-md-12 {
    text-align: center;
}

#mobiriseExperts>.container>.row>.col-md-4 {
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
}

#mobiriseExperts>.container>.row>.col-md-4>.content {
    padding: 25px 15px 80px 15px;
    background-color: whitesmoke;
    line-height: 2em;
}

#mobiriseExperts>.container>.row>.col-md-4>.head {
    width: 150px;
    height: 200px;
    position: relative;
    top: -50px;
    left: 60px;
}

#mobiriseExperts>.container>.row>.col-md-4>.head>img {
    border-radius: 100%;
    width: 100px;
    height: 100px;
}

#user>.container {
    width: 80%;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    /*    clear: both;*/
}

#user>.container>.row>.col-md-12 {
    text-align: center;
}

#user>.container>.row>.col-md-4 {
    margin-top: 15px;
    margin-bottom: 10px;
}

#user>.container>.row>.col-md-4 p {
    background-color: whitesmoke;
    padding: 15px;
    font-size: 150%;
    font-family: serif;
}

#user>.container>.row>.col-md-4 h3 {
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
}

#download {
    background-color: gainsboro;
}

#download>.container {
    width: 50%;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: black;
    padding-top: 50px;
    padding-bottom: 50px;
}

#download>.container>.row>.col-md-6 {
    margin-bottom: 15px;
}

.news {
    background-image: url("https://pbs.twimg.com/media/CnzPKfBXEAAkiT_.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    text-align: center;
    color: white;
    padding-top: 150px;
    margin: 0px;
}

.social-icon {
    display: inline-block;
    width: 55px;
    height: 55px;
    border: 3px solid burlywood;
    border-radius: 50%;
    margin-right: 20px;
    padding: 5px;
}

.social-icon>a>i {
    color: white;
    font-size: 30px;
    line-height: 40px;
}

.social-icon:hover {
    background-color: burlywood;
}

section[class*=link] {
    background-color: #444444;
    line-height: 2em;
}

.container-link {
    width: 95%;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

img[class=link] {
    margin-top: 20px;
    width: 200px;
    height: 200px;
}

p[class=link] {
    padding-top: 20px;
    color: #AAAAAA;
}

h4[class=link] {
    margin-top: 30px;
    color: #AAAAAA;
}

ul[class*=link]>li {
    line-height: 3em;
    border-bottom: 2px solid gray;
    padding-left: 10px;
    font-size: 120%;
    color: white;
}

ul[class*=link]>li :link {
    color: white;
    text-decoration: none;
}

ul[class*=link]>li :visited {
    color: white;
    text-decoration: none;
}

.backIcon {
    position: fixed;
    right: 30px;
    bottom: 30px;
}

.backIcon>a>img {
    width: 50px;
    height: 50px;
}

footer {
    text-align: center;
    height: 80px;
    padding-top: 40px;
    background-color: dimgray;
    color: darkgrey;
    margin: 0px;
}
