@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans TC', 微軟正黑體 sans-serif;
    color: black;
}

body {
    position: relative;
}

.navbar-inverse {
    background-image: url(../images/beging.jpg);
    background-size: cover;
    /*    可再試試background-color:改為透明*/
    border-style: none;
}

#header {
    background-image: url(../images/beging.jpg);
    background-size: cover;
    height: 600px;
    margin: 0px;
}

#header>.container {
    margin-top: 30px;
    text-align: center;
    color: floralwhite;
}

#header>.container>p {
    font-weight: 300;
}


/*
#section1 {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #ead1b1;
        background: linear-gradient(to bottom, #46341E 20%, #846547 55%, #ead1b1 80%, #FFFFFF 100%);
}
*/


/*
#section1>.container {
    width: 80%;
    text-align: center;
    padding-bottom: 20px;
}
*/


/*
#section1>.container>.row>h1 {
    font-size: 300%;
    font-style: italic;
    text-decoration: underline;
    margin-bottom: 30px;
    text-shadow: 5px 5px 5px gray;
}
*/


/*
#section1>.container>.row>.col-md-4>img {
    width: 80%;
    border-radius: 60%;
    margin-top: 30px;
}
*/


/*
#section1>.container>.row>.col-md-8>p {
    font-size: 120%;
    line-height: 1.5em;
}
*/


/*
.myStory {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.myStory ul li {
    text-align: left;
    font-size: 120%;
}
*/

#section2 {
    padding-top: 50px;
    padding-bottom: 50px;
}

#section2>.container {
    width: 75%;
    text-align: center;
    padding-bottom: 30px;
}

#section2>.container>.row>h1 {
    font-size: 300%;
    font-style: italic;
    text-decoration: underline;
    margin-bottom: 30px;
    text-shadow: 5px 5px 5px gray;
}

#section2>.container>.row>ul>li {
    list-style-type: none;
    font-size: 150%;
    text-align: left;
}

#section2>.container>.row>ul>li>span {
    margin: 15px;
    font-size: 130%;
    color: seagreen;
}

#section2>.container>.row>ul>li>span>i {
    margin: 15px;
    font-size: 120%;
    color: seagreen;
}

#section3 {
    padding-top: 50px;
    padding-bottom: 50px;
    /*    background-color: #ead1b1;*/
    background-image: url(../images/grow.jpg);
    background-size: cover;
}

#section3>.container {
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
    /*    background-color: burlywood;*/
}

#section3>.container>.row>h1 {
    font-size: 300%;
    font-style: italic;
    text-decoration: underline;
    margin-bottom: 30px;
    text-shadow: 5px 5px 5px gray;
}

#section3>.container>.row>h2,
#section4>.container>.row>h2,
#section5>.container>.row>h2 {
    color: gray;
}

.carousel-inner {
    /*    background-color: #bDD690;*/
    background-color: rgba(255, 255, 255, 0);
}

.carousel-inner>.item {
    /*    background-color: #bDD690;*/
    background-color: rgba(255, 255, 255, 0);
}

.carousel-inner>.item>.container {
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    /*    background-color: #bDD690;*/
    background-color: rgba(255, 255, 255, 0);
}

.item>.container>.jumbotron {
    /*    background-color: #bDD690;*/
    background-color: rgba(189, 214, 143, 0.3);
}

.carousel-control {
    background-color: rgba(255, 255, 255, 0);
}

.carousel-control:hover {
    background-color: rgba(255, 255, 255, 0);
}

.item>.container>.jumbotron>.row>.col-md-6>h1 {
    font-size: 300%;
}

.item>.container>.jumbotron>.row>.col-md-6>h1>i {
    margin-right: 20px;
}

.item>.container>.jumbotron>.row>.col-md-6>h1>img {
    width: 15%;
    margin-right: 20px;
}

.item>.container>.jumbotron>.row>.col-md-6>p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.item>.container>.jumbotron>.row>.col-md-6>img {
    margin-top: 35px;
    width: 100%;
    height: 100%;
}

#section4 {
    padding-top: 50px;
    padding-bottom: 50px;
}

#section4>.container {
    width: 85%;
    text-align: center;
    padding-bottom: 30px;
}

#section4>.container>.row>h1 {
    font-size: 300%;
    font-style: italic;
    text-decoration: underline;
    margin-bottom: 30px;
    text-shadow: 5px 5px 5px gray;
}

#section4>.container>.row>.col-md-6>img {
    width: 100%;
    margin-top: 55px;
}

#section4>.container>.row>.col-md-6>h2 {
    color: #007799;
}

#section4>.container>.row>.col-md-6>p {
    color: #666666;
    font-size: 120%;
    text-align: left;
}

#section4>.container>.row>.col-md-6>ul {
    margin-left: 15px;
}

#section4>.container>.row>.col-md-6>ul>li {
    color: #666666;
    font-size: 120%;
    text-align: justify;
    text-align: left;
    list-style-type: square;
}

#section4>.container>.row>.col-md-6>a {
    float: right;
    margin-right: 10px;
}

#section5 {
    /*    background-color: cadetblue;*/
    background: linear-gradient(to bottom, #FFFFFF 5%, #ead1b1 20%, #846547 45%, #46341E 80%);
}

#section5>.container {
    /*    width: 95%;*/
    text-align: center;
    padding-bottom: 30px;
}

#section5>.container>.row>h1 {
    font-size: 300%;
    font-style: italic;
    text-decoration: underline;
    margin-bottom: 30px;
    text-shadow: 5px 5px 5px gray;
}

#section5>.container>.row>.col-md-6>.rwdWork {
    position: relative;
    background-color: #ead1b1;
    border-radius: 5px;
    width: 90%;
    margin: 20px auto;
    padding: 10px;
}

#section5>.container>.row>.col-md-6>.rwdWork>img {
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 80%;
}

#section5>.container>.row>.col-md-6>.rwdWork>.info {
    position: absolute;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-size: 150%;
    padding-top: 100px;
    background-color: rgba(234, 209, 177, 0.7);
    opacity: 0;
}

#section5>.container>.row>.col-md-6>.rwdWork>.info:hover {
    opacity: 1;
}

footer {
    text-align: center;
    height: 80px;
    background-color: #46341E;
    /*    background: linear-gradient(to right, #444444 0%, #46341E 20%, #46341E 80%,#444444 100%);*/
    color: darkgrey;
    border-top-style: solid;
    border-top-width: 80%;
    border-top-color:burlywood;
}

footer>.container {
    width: 70%;
    text-align: center;
}

footer>.container>p {
    padding-top: 20px;
    font-size: 120%;
    color: lightgray;
}

footer>.container>p>i {
    margin-left: 5px;
    margin-right: 5px;
    color: lightgray;
}

footer>.container>p>a {
    color: lightgray;
}
