[submodule "Resume"]
	path = Resume
	url = https://github.com/Soniafish/Resume.git
[submodule "ATM"]
	path = ATM
	url = https://github.com/Soniafish/ATM.git
[submodule "NOTE"]
	path = NOTE
	url = https://github.com/Soniafish/NOTE.git
[submodule "TODOLIST"]
	path = TODOLIST
	url = https://github.com/Soniafish/TODOLIST.git
[submodule "TV"]
	path = TV
	url = https://github.com/Soniafish/TV.git
[submodule "GEOCODER"]
	path = GEOCODER
	url = https://github.com/Soniafish/GEOCODER.git
[submodule "POSTCARD"]
	path = POSTCARD
	url = https://github.com/Soniafish/POSTCARD.git
[submodule "DANMU"]
	path = DANMU
	url = https://github.com/Soniafish/DANMU.git
[submodule "BAG"]
	path = BAG
	url = https://github.com/Soniafish/BAG.git
[submodule "COVERME"]
	path = COVERME
	url = https://github.com/Soniafish/coverme.git
[submodule "ALBUM"]
	path = ALBUM
	url = https://github.com/Soniafish/album.git
[submodule "COMMUNITY"]
	path = COMMUNITY
	url = https://github.com/Soniafish/lure_community.git
[submodule "STYLE"]
	path = STYLE
	url = https://github.com/Soniafish/lative_style.git
[submodule "WEATHER2/weather"]
	path = WEATHER2/weather
	url = https://github.com/Soniafish/weather.git
[submodule "ReactDemo"]
	path = ReactDemo
	url = https://github.com/Soniafish/reactDemo.git
